.panel-curriculum:hover{
    background-color: #e8eaf6;
}

.pointer{
    cursor: pointer;
}

.admin_phdCycle_submenu:hover, .admin_phdCurriculum_submenu:hover{
    background-color: #e8eaf6;
    cursor: pointer;
}

.admin_phdCycle_submenu, .admin_phdCurriculum_submenu{
    padding: 7px;
    margin-top: 0px !important;
}

.hidden_menu{
    display: none;
}